body {
    background-image: url("c.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 200px;
    background-attachment: scroll;
}

h1 {
    background-color: aqua;
}

div {
    background-color: violet;
}
p {
    background-color: blueviolet;
}