p {outline-color: rgb(131, 27, 27);}

p.dotted {
    border-style: dotted;
    border-width: 5px;
}
p.dashed {
    border-style: dashed;
    border-width: medium;
}
p.solid {
    border-style: solid;
    border-width: 20px 5px;
    border-color: red green blue yellow;
}
p.double {
    border-style: double;
    border-color: brown;
}
p.groove {
    border: 6px solid red;
    border-radius: 5px;

}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
}
p.hidden {border-style: dotted solid;}
p.mix {border-style: dotted dashed solid double;}

div {
    border: 1px solid black;
    margin: 25px 50px 75px 100px;
    background-color: lightblue;
    padding: 25px 50px 75px 100px;
    box-sizing: border-box;
}

h1 {
    margin: 0 0 50px 0;
}


p.ex1 {outline: dashed;}
p.ex2 {outline: dotted red;}
p.ex3 {outline: 5px solid yellow;}
p.ex4 {outline: thick ridge pink;}


